@import url('book-details.css');
@import url('book-list.css');
@import url('book-preview.css');
@import url('book-filter.css');
@import url('book-desc.css');
@import url('book-header.css');
@import url('book-review.css');
@import url('home.css');
@import url('about.css');
@import url('review.css');
@import url('add-book.css');
@import url('searchedPreview.css');

body {
    background-color: skyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 0px;
    padding: 0;
}

p {
    margin: 1px;
    padding:3px;
}