.email-dlt, .back-btn {
    font-family: Regular;
    background-color: inherit;
    border: none;
    color: rgb(44, 44, 44);
    padding: 6px 8px;
    font-size: 25px;
    cursor: pointer;
}

.email-details {
    align-items: center;
}