.email-dlt, .back-btn {
    font-family: Regular;
    background-color: inherit;
    border: none;
    color: rgb(44, 44, 44);
    padding: 6px 8px;
    font-size: 25px;
    cursor: pointer;
}

.email-details {
    align-items: center;
}

.inbox::before{
    font-family: Solids;
    content:'\f01c';
    
    margin-right: 20px;

}

.stared::before{
    font-family: Solids;
    content: '\f005';
    margin-right: 20px;

}

.sent::before{
    font-family: Solids;
    content: '\f064';
    margin-right: 20px;
}