.subject-container{
    justify-content: space-between;
}

.toggle-is-read {
    font-family: Solids;
    background-color:inherit; /* Blue background */
    border: none; /* Remove borders */
    color: rgb(44, 44, 44); /* White text */
    padding: 6px 8px; /* Some padding */
    font-size: 25px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */}

.toggle-is-read.read::before{
    content: '\f2b6';
}

.toggle-is-read.unread::before{

    content: '\f0e0';
}