.subject-container {
    justify-content: space-between;
}

.toggle-is-read {
    font-family: Solids;
    background-color: inherit;
    border: none;
    color: rgb(44, 44, 44);
    padding: 6px 8px;
    font-size: 25px;
    cursor: pointer;
}

.toggle-is-read.read::before {
    content: '\f2b6';
}

.toggle-is-read.unread::before {
    content: '\f0e0';
}

.mail-preview {
    max-width: 850px;
    max-width: 850px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
    transition: opacity 0.5s ease-in-out;
    justify-content: flex-start;
}

.mail-preview:hover {
    opacity: 0.2;
}

.subject-preview {
    text-transform: capitalize;
    margin-inline-end: 250px;
    font-family: Poppins;
    font-size: 14px;
    width: 100%;
}

.from-preview {
    display: flex;
    font-weight: bold;
    text-transform: capitalize;
    margin-inline-end: 90px;
    font-family: Poppins;
    font-size: 14px;
    align-items: center;
}

.time-read-preview {
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
}

.isStar::before {
    font-family: Solids;
    content: '\f005';
}

.notStar::before {
    font-family: Regular;
    content: '\f005';
}