.app-header {
    height: 10vh;
    background-color: rgb(188, 230, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(177, 177, 177) solid;
}

.app-header nav {
    display: flex;
}

.app-header nav :nth-child(4) {
    position: relative;
}

.app-header span {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: red;
    border-radius: 50%;
    top: 5px;
    right: 82px;
}

/* 
.app-header span::before {
    color: black;
    font-family: Regular;
    content: '\f0f3';
} */

.app-header nav>*:last-child {
    margin-right: 15px;
}

.app-header nav>* {
    display: flex;
    text-decoration: none;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: background-color .4s;
}

.app-header nav>*:hover {
    background-color: rgb(184 222 240);
    border-bottom: 1px rgb(177, 177, 177) solid;
}

.active {
    background-color: rgb(184 222 240);
    border-bottom: 1px rgb(177, 177, 177) solid;
    color:white;
}

.app-header h1 {
    cursor: pointer;
    font-family: Aquire;
    font-size: 2rem;
    letter-spacing: 7px;
    margin-left: 15px;
}

.app-header h1::after {
    font-family: Solids;
    content: '\f441';
    margin-left: 5px;
}

/* HOME */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.home h1 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.home p {
    text-align: center;
    max-width: 450px;
}