.image-note-preview {
    background-color: rgb(73, 169, 248);
    padding: 15px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-note-preview {
    background-color: rgb(73, 169, 248);
    padding: 15px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos-note-preview {
    background-color: rgb(73, 169, 248);
    padding: 15px;
    padding: 15px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-note-preview{
    background-color: rgb(73, 169, 248);
    padding: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.note-preview {
    margin: 10px;
    display: flex;
}

.todo-preview {
    display: flex;
    gap:5px;
}

li {
    cursor: pointer;
}

.done {
    text-decoration: line-through
}