.notes-filter {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 15px;
}

.filter-input {
  text-align: center;
  margin-bottom: 15px;
  border: none;
  border-radius: 3rem;
  padding: 15px;
  outline: none;
}