

.notes-filter{
  margin-right:10px;
}


.filter-input{
    margin-left:10px;
    text-align:center;
    margin-bottom:15px;
    border:none;
    border-radius:3rem;
    padding:15px;
    outline: none;
}
